<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>不能吃</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link href="/styles/donteat/main.css" rel="stylesheet">
    <script src="/js/donteat/font.js"></script>
</head>

<body>

    <header>
        <div class="logo"></div>
        <div class="title">胆固醇偏高人群，什么不能吃？</div>
        <form action="" method="get" class="search">
            <input class="text" type="text" name="food" placeholder="搜索食物名称，比如：猪肝" />
            <div class="submit"></div>
        </form>
        <div class="keyword">
            <div>热搜</div>
            <a href="?food=鱿鱼"><div>鱿鱼</div></a>
            <a href="?food=虾米"><div>虾米</div></a>
            <a href="?food=鸡腿"><div>鸡腿</div></a>
        </div>
        <!--
        <div class="question">
            <a href="#">胆固醇偏高有什么危害？</a>
        </div>
        -->
    </header>

    <div class="container">
        <section>
            <div class="fruit">
                <img src="/images/donteat/fruit.png"/>
            </div>
        </section>
    </div>

    <footer>
        由健康加油站奉献
    </footer>

<script src="/js/jquery/jquery.min.js"></script>
<script src="/js/mobile/Tocca.min.js"></script>
<script src="/js/donteat/index.js"></script>
<div style="display:none;">
  <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256814237'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1256814237' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</body>
</html>
