<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>不能吃</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link href="/styles/donteat/main.css" rel="stylesheet">
    <script src="/js/donteat/font.js"></script>
</head>

<body>

    <header>
        <div class="none">
            <img class="main" src="/images/donteat/none.jpg"/>
            <div class="title">暂未收录</div>
            <div class="sub">暂未收录 “<%= data.food %>” 的相关数据<br/>我们将尽快将其收录！</div>
        </div>
    </header>

    <div class="container">
        <section>
            <div class="tip">
                <img class="main" src="/images/donteat/tip.png"/>
            </div>
        </section>
    </div>

    <footer>
        由健康加油站奉献
    </footer>

<div style="display:none;">
  <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256814237'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1256814237' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</body>
</html>
