<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>健康卫士</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link href="/styles/tnbfood/main.css" rel="stylesheet">
    <script src="/js/tnbfood/font.js"></script>
</head>

<body>

    <div class="container">

        <div class="slc-height">
          <div class="top <% if (data.sex == '女') { %>woman<% } %>"></div>
            <div class="bodyh">
              <% for (var i = 190; i >= 130; i--) { %>
                <div class="ck sbm-height" v="<%= i %>"><a><%= i %></a></div>
              <% } %>
            </div>
        </div>

    </div>

    <form action="" method="get" id="fm">
      <input type="hidden" name="height" value="" id="height" />
      <input type="hidden" name="sex" value="<%= data.sex %>" />
      <input type="hidden" name="step" value="3" />
      <input type="hidden" name="type" value="<%= data.type %>" />
    </form>

<script src="/js/jquery/jquery.min.js"></script>
<script src="/js/mobile/Tocca.min.js"></script>
<script src="/js/tnbfood/main.js"></script>
</body>
</html>
