<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>健康卫士</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link href="/styles/tnbfood/main.css" rel="stylesheet">
    <script src="/js/tnbfood/font.js"></script>
</head>

<body>

    <div class="container">

        <div class="slc-height">
            <div class="bodyh" style="margin-top:0">
              <% for (var i = 190; i >= 130; i--) { %>
                <div class="ck sbm-height" v="<%= i %>"><a><%= i %></a></div>
              <% } %>
            </div>
        </div>

    </div>

<script src="/js/jquery/jquery.min.js"></script>
<script src="/js/mobile/Tocca.min.js"></script>
<script src="/js/base/base.js"></script>
<script>
  $('.sbm-height').on('tap', function(event){
    var v = $(this).attr('v');
    location.href = '/my/edit?k=height&v=' + v;
  });
</script>
</body>
</html>
