<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>健康卫士</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link href="/styles/base/base.css" rel="stylesheet">
    <link href="/styles/knowledge/index.css" rel="stylesheet">
    <link href="/styles/tabbar/tabbar.css" rel="stylesheet">
    <script src="/js/font/font.js"></script>
</head>

<body>

    <div class="container">
        <div class="top">
            <img src="/images/knowledge/index_top.jpg"/>
        </div>
        <div class="section ck" id="sec-tnb">
            <div class="title">
                糖尿病专区
            </div>
            <div class="subtitle">
                糖尿病是由胰岛素分泌缺陷或其生物作用受损，或两者兼有引起的代谢性疾病。
            </div>
            <div class="btn">
                进入糖尿病专区
            </div>
        </div>
        <div class="tabbar">
            <div class="tabbtn act">
                <div class="tabico icoknlg">
                </div>
                <div class="tabtitle">
                    知识
                </div>
            </div>
            <div class="tabbtn ck" id="tb-hp">
                <div class="tabico icohlp">
                </div>
                <div class="tabtitle">
                    助手
                </div>
            </div>
            <div class="tabbtn ck" id="tb-my">
                <div class="tabico icomy">
                </div>
                <div class="tabtitle">
                    我的
                </div>
            </div>
        </div>
    </div>

<script src="/js/jquery/jquery.min.js"></script>
<script src="/js/mobile/Tocca.min.js"></script>
<script src="/js/base/base.js"></script>
<script>
  $('#sec-tnb').on('tap', function(event){
    location.href = '/knowledge/type?category=糖尿病';
  });
  $('#tb-hp').on('tap', function(event){
    location.href = '/helper/index';
  });
  $('#tb-my').on('tap', function(event){
    location.href = '/my/index';
  });
</script>
</body>
</html>
